@import "tailwindcss";

body {
  font-family: 'Poppins', sans-serif;
  background: #f8fafc;
  color: #0f172a;
}

.card {
  background: white;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}